* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    background: url("assets/img/background-image.jpg") no-repeat center center / cover;
    height: 100%;
    color: #fff;
    
}
.top-panel {
    background-color: darkblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-panel__left-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    text-transform: uppercase;
    margin-right: 20px;
}
.logo__text {
    margin-left: 20px;
    font-size: 30px;
}
.btn {
}
.launch-bot {
    background-color: #399e39;
    padding: 1em;
    position: relative;
    outline: 0;
    border: 0;
    padding-left: 25px;
    margin-left: 30px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
}
.launch-bot:hover {
    background-color: #4aca4a;
}
.launch-bot::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    background-image: url('./assets/img/play-button-svgrepo-com.svg');
    width: 20px;
    height: 20px;
}
.info {
    align-items: center;
    display: flex;
    margin-right: 50px;
}
.text {
    margin-top: 2px;
}
.main-content {
    display: flex;
}
.main-content__left-block {
    height: calc(100vh - 45px);
    width: 70%;
    border-right: 5px solid #a0a0a0;
    padding-right: 5px;
}
.bk-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid transparent;
    margin: 7px;
}
.bk-item {
    width: 33%;
    border: 5px solid #9597ea;
    border-radius: 4px;
}
.bk-item__top-panel {
    margin:15px 0 30px 10px;
}
.title {
    text-transform: uppercase;
    font-size: 22px;
}
.status {
}
.bk-item__bottom-panel {
    margin: 0 8px 20px 10px;
}
.first-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.balance {
    white-space: nowrap
}
.sum {
    line-height: 16px;
    display: flex;
    align-items: center;
}
.second-group {
    display: flex;
    justify-content: space-between;
}
.count {
    white-space: nowrap;
}
.attempts-count {
    white-space: nowrap;
}
.heading {
    margin-left: 30px
}
#table {
    width: 100%;
}
td {
    text-align: center;
    border: 1px solid white;
}
.main-content-right-block {
    width: 30%;
    margin: 10px;
}
.log-panel {
    height: 60vh;
    background-color: #cccada;
    border: 1px solid transparent;
    border-radius: 4px;
    overflow: hidden;
}
.log-panel h3 {
    color: black;
    margin-left: 5px;
    margin-top: 5px;
}
.statistic {
}
.statistic__heading {
    font-size: 25px;
    text-align: center;
}
.time {
    display: flex;
    justify-content: space-between;
}
.time__text {
}
.time__num {
}
.fork {
    display: flex;
    justify-content: space-between;
}
.fork__text {
}
.fork__num {
}
.cancel-filter {
    display: flex;
    justify-content: space-between;
}
.cancel-filter__text {
}
.cancel-filter__num {
}
.cancel-repeater {
    display: flex;
    justify-content: space-between;
}
.cancel-repeater__text {
}
.cancel-repeater__num {
}
.loaded {
    display: flex;
    justify-content: space-between;
}
.loaded__text {
}
.loaded__number {
}
.fork-disappeared {
    display: flex;
    justify-content: space-between;
}
.fork-disappeared__text {
}
.fork-disappeared__num {
}
.not-overlapped {
    display: flex;
    justify-content: space-between;
}
.not-overlapped__text {
}
.not-overlapped__num {
}